.wrap{
    width: 800px;
    margin: 75px auto 0 auto;
}
.tableEmp{
    width: 880px;
    margin: 50px auto 0 auto;
    margin-bottom: 100px;
}
#but{
    border-radius: 120px;
    width: 200px;
    margin-left: 120px;
    margin-top: 70px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}